{% extends "templates/members/base.html"%}
{% load static %}
{% block content %} 
<div class="section inner_page_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner_title">
                    <h3>{{username}} - Team</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section layout_padding">
    <div class="container-fluid">        
        <div class="row">            
            <div class="full services_blog">
                <div class="full services_blog">
                <h4>Level 1 members: <span style="color: red;">{{level1_count}}</span> </h4>                     
                </div>            
                <div class="full services_blog">                    
                    <h4>Level 2 members:<span style="color: red;"> {{level2_count}}</span> </h4>
                </div>
                <div class="full services_blog">                    
                    <h4>Level 3 members:<span style="color: red;"> {{level3_count}} </span> </h4>
                </div>
                
            </div>
        </div>        
    </div>
</div>
{% endblock content %}
